# Dependency directories
node_modules

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# IDE directories
.idea

# OS artifacts
.DS_Store

# Builds
build

# Agent's memory bank
memory-bank
